<NavBar />
<div class="container">
  <h2>Success!</h2>
  <p>We have received your message and will get back to you within the next 24 hours.</p>
  <p> Thanks for reaching out to us.</p>
  <div class="navbar-brand">
      <img class="rounded-circle" src="http://localhost:4200/freshworksLogo.png" alt="Logo" width="40" height="32">
      <span class="brand-text">Freshservice</span>
  </div>
</div>
