<div class="container">
  <NavBar></NavBar>

  <div class="row mt-4">

    {{!-- Right column for agent information --}}
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-sm-4 fw-bold">Name:</dt>
        <dd class="col-sm-8">{{@user.name}}</dd>

        <dt class="col-sm-4 fw-bold">Email:</dt>
        <dd class="col-sm-8">{{@user.email}}</dd>

        <dt class="col-sm-4 fw-bold">Account Type:</dt>
        <dd class="col-sm-8">{{@user.account_type}}</dd>
      </dl>
    </div>

  </div>
</div>
