{{!-- app/templates/charts.hbs --}}
<nav>
  <ul>
    <li><LinkTo @route="charts.line-chart">View Line Chart</LinkTo></li>
    <li><LinkTo @route="charts.pie-chart">View Pie Chart</LinkTo></li>
  </ul>
</nav>

{{outlet}}
